---
import type { Block } from '../../models/Block';
import type { ContentFieldType } from '../../models/Content';

interface Props {
  fields: ContentFieldType;
  systemId: string;
  children?: Block[];
  priority?: boolean;
}
const { fields, systemId, children } = Astro.props;
const blockName = "ProductsBlock";
---
<h2>{blockName}</h2>