---
import BlockContainer from "../../components/Blocks/BlockContainer.astro";
import Layout from "../../layouts/Layout.astro";
import { executeQuery } from "../../lib/ApiClient";
import { query } from "./_graphql";

const response = await executeQuery("https://localhost:4321", query);
const { data } = await response.json();
---

<Layout metadata={data.content.metadata}>
  <h1>LandingPage</h1>
  <BlockContainer
    priority
    blocks={data.content.blocks.main}
    className=""
  >
  </BlockContainer>
</Layout>
