---
import Footer from "../components/connectors/footer/footer.astro";
import Head from "../components/connectors/head.astro";
import Header from "../components/connectors/header/header.astro";
import "../styles/global.css";
interface Props {
	metadata?: Metadata;
}
interface Metadata {
	links: [];
	tags: [];
	title: string;
}
const { metadata, ...props } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<Head metadata={metadata} />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

