---
import Head from "../components/Head.astro";
import "../styles/global.css";
interface Metadata {
	links: [];
	tags: [];
	title: string;
}
const { metadata, ...props } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<Head metadata={metadata} />
	</head>
	<body>
		<slot />
	</body>
</html>

